.project-card-img {
    max-width: 160px;
}

.project-card {
    background: #fafafa;
    border: 1px solid rgba(0,0,0,0.025);
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}