@import "~bootstrap/scss/bootstrap";

$primary: cornflowerblue;

$sidebar-width: 280px;

.stack-justify {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

hr {
    opacity: 0.1;
}

.text-justify{
    text-align: justify;
}
