
$color-mode-type: data;
$primary: cornflowerblue;
$sidebar-width: 280px;
$white: #fff;
$secondary-bg: #151e29;

.stack-justify {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

hr {
    opacity: 0.1;
}

.text-justify{
    text-align: justify;
}

/* Default: hide .dark-hr */
.dark-hr {
  display: none;
}

/* Show it when your app is in dark mode */
[data-bs-theme="dark"] .dark-hr {
  display: block;
}