@use "../../styles/custom" as *;

.main-wrapper {
    margin-left: $sidebar-width;
    min-height: 100vh;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);

    @media (max-width: 991px) {
        margin-left: 0;
    }
}